# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# PyCharm / VSCode configs
.idea/
.vscode/

# Logs
*.log
